{% extends "base.html" %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/css/about-me.css">
{% endblock %}

{% block content %}
<div class="about-wrapper">
  <h1>About Me</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet facilisis urna.
    Praesent ultrices neque in dignissim faucibus. Nulla facilisi. Phasellus non mi sed ligula
    pulvinar dapibus. Suspendisse potenti. Curabitur sed libero eu erat blandit tincidunt.
    Quisque blandit magna vel nibh hendrerit, sed porttitor purus imperdiet. Vivamus at augue
    vitae eros aliquet ullamcorper.
  </p>
</div>
{% endblock content %}