<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Makso</title>
  <link rel="stylesheet" href="/static/css/style.css">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <header>
    <nav>
      <img class="img-navbar" src="/static/img/MAKSO-LOGO.png" alt="logo">
      <ul class="nav_links">
        <li class="li-navbar"><a class="a-navbar" href="/order">Order</a></li>
        <li class="li-navbar"><a class="a-navbar" href="/about-me">About Me</a></li>
        <li class="li-navbar"><a class="a-navbar" href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock content %}
</body>
</html>